<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Moim</title>
  <link rel="stylesheet" type="text/css" href="../../static/gui/styles/gui.css">
</head>
<body>
    <button id="menuButton" class="menu-button">&#9776;</button>
    
    <div class="sidebar">
     
    </div>
    
    <div class="main-content">
      <h1>Moin</h1>
      <button class="button">Temperatur</button>
      <button class="button">Luftfeuchtigkeit</button>
      <button class="button">Aktoren steuern</button>
    </div>

  <script src="../../static/gui/scripts/gui.js"></script>
</body>
</html>
